/* обнуление стилей формы */
*,
*::before,
*::after {
  box-sizing: border-box;
} 
a {
  text-decoration: none;
  color: inherit;
	display: block;
}

input,
select {
  padding-block: 5px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
  height: 25px;
  overflow: visible;
}

label {
  margin-inline-end: 10px;
}

/* стили основные */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
width: 100%;
  padding: 20px;
}

.body_title {
  text-align: left;
}

form {
  /* max-width: 50%; */
  margin: 0 auto;
}

.header{
	display: flex;
	flex-direction: column;
	align-items: center;
padding-block: 10px;
}

.form_date {
  width: 335px;
  text-align: center;
  margin-bottom: 25px;
  /* width: 100%; */
}

div {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 300px;
  padding: 5px;
  font-size: 16px;
}

.form__button {
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  cursor: pointer;
	pointer-events: all;
}

.form__button:hover {
  background-color: #e12e13;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:valid:not(:placeholder-shown) {
  border-color: green;
}

#mail {
  display: flex;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu__nav-container{
  display: flex;
  justify-content:space-around;
/* align-content: center;
align-items: center; */
  width: 100%;
}
.menu__nav {
display: flex;
  width: `100%;
  list-style-type: none;
padding-block: 15px;
}
.nav-item{
	display:inline-block;
	max-width: 100%;
	max-height: 100%;
	padding: 10px 5px;
	/* border-radius: 6px; */
	background-color: ;
	cursor: pointer;
}

.nav-item:hover{
	outline: 2px solid #e91e63;
}

.menu-color{
	background-color: green;
	color:#fff;
	/* outline: 2px solid green; */
};

.active {
  background-color: green;
}

@media (width < 720px) {
  .menu__nav {
flex-direction: column;
gap: 15px;
width: 100%;
padding-inline: 50px;
  }
	.nav-item{
		background-color: #e91e63;
		padding: 10px 20px;
		text-align: center;
		color: #fff;
		font-size: 18px;
	}
	.menu-color{
		background-color:mediumseagreen;
	}
}

/* валидация поведение */

.form__input_type_error {
  border-color: rgba(255, 0, 0, 1);
}

.form__error_visible{
	font-size: 12px;
  color: rgba(255, 0, 0, 1); 
  display: block; 
}

.form__button_disabled {
  background-color: rgba(0, 0, 0, 0); 
	border: 1px solid rgb(197 197 197);
  color: rgb(197 197 197); /* Цвет текста неактивной кнопки */
  cursor: not-allowed; /* Запрещаем курсору при неактивной кнопке */
}