/* обнуление стилей формы */

input,

select {
  padding-block: 5px;
}

input {
  overflow: visible;
}

label {
	margin-inline-end: 10px;
}

/* стили основные */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

.body_title {
text-align:left;
	padding: 20px 15px 0px 0px;
}

form {
	/* max-width: 50%; */
	margin: 0 auto;
}

.form_date {
	/* max-width: 65%; */
	text-align: left;
	width: 100%;
}

div {
	margin-bottom: 15px;
}

label {
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

input[type="text"],
input[type="email"] {
	width: 300px;
	padding: 5px;
	font-size: 14px;
}

.button{
	padding: 10px 20px;
	background-color: #e91e63;
	color: #fff;
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: #e12e13;
}

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}







